<br>
<main role="main" class="container">
  <div style="display: flex; justify-content: flex-end;">
    <button class="btn btn-primary" (click)="importSettings()">Import Settings</button>&nbsp;&nbsp;
    <button class="btn btn-success" (click)="exportSettings()">Export Settings</button>
  </div><br>
  <div class="card">
    <div class="card-header">
      <h4>System Settings</h4>
    </div>

    <div class="card-body">

      <form [formGroup]="settingsForm" (ngSubmit)="updateSettings()">
        <div formGroupName="commonSettings">
          <div class="card text-bg-light">
            <div class="card-body">
              <div class="row">
                <div class="form-group col col-sm-6">
                  <label for="labID" class="col-form-label-sm">Testing Lab Code/ID</label>
                  <input type="text" formControlName="labID" name="labID" class="form-control form-control-sm"
                    placeholder="Lab Code/ID" required />
                </div>
                <div class="form-group col col-sm-6">
                  <label for="labName" class="col-form-label-sm">Testing Lab Name</label>
                  <input type="text" formControlName="labName" name="labName" class="form-control form-control-sm"
                    placeholder="Lab Name" required />
                </div>

                <div class="form-group col col-sm-6">
                  <label for="interfaceAutoConnect" class="col-form-label-sm">Should the interface attempt to
                    autoconnect?</label>
                  <select formControlName="interfaceAutoConnect" name="interfaceAutoConnect"
                    class="form-control form-control-sm" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
                <div class="form-group col col-sm-6">
                  <label for="appPath" class="col-form-label-sm">SQLite DB Path</label>
                  <p class="form-control-static small text-muted">{{appPath}}</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- <div class="card text-bg-light">
            <div class="card-body">
              <h5 class="card-title">Push Results to External API</h5>
              <div class="row">
                <div class="form-group col col-sm-6">
                  <label class="col-form-label-sm">Enable API Push</label>
                  <select formControlName="enable_api" class="form-control form-control-sm" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
                <div *ngIf="settingsForm.get('commonSettings.enable_api').value === 'yes'"  class="form-group col col-sm-6">
                  <label class="col-form-label-sm">API URL</label>
                  <input type="text" formControlName="api_url" name="api_url" class="form-control form-control-sm"
                    placeholder="API URL" required />
                </div>
                <div *ngIf="settingsForm.get('commonSettings.enable_api').value === 'yes'" class="form-group col col-sm-6">
                  <label class="col-form-label-sm">API Auth Token(optional)</label>
                  <input type="text" formControlName="api_auth" name="api_auth" class="form-control form-control-sm"
                    placeholder="API Auth"  />
                </div>
              </div>
            </div>
          </div><br> -->
          <div class="card text-bg-light">
            <div class="card-body">
              <h5 class="card-title">MySQL Configuration</h5>

              <div class="row">
                <div class="form-group col col-sm-6">
                  <label for="mysqlHost" class="col-form-label-sm">MySQL Host</label>
                  <input type="text" formControlName="mysqlHost" name="mysqlHost" class="form-control form-control-sm"
                    placeholder="MySQL Hostname">
                </div>
                <div class="form-group col col-sm-6">
                  <label for="mysqlPort" class="col-form-label-sm">MySQL Port</label>
                  <input type="text" formControlName="mysqlPort" name="mysqlPort" class="form-control form-control-sm"
                    placeholder="MySQL Port Number">
                </div>
                <div class="form-group col col-sm-6">
                  <label for="mysqlDb" class="col-form-label-sm">MySQL DB Name</label>
                  <input type="text" formControlName="mysqlDb" name="mysqlDb" class="form-control form-control-sm"
                    placeholder="MySQL DB Name">
                </div>
                <div class="form-group col col-sm-6">
                  <label for="mysqlUser" class="col-form-label-sm">MySQL DB User</label>
                  <input type="text" formControlName="mysqlUser" name="mysqlUser" class="form-control form-control-sm"
                    placeholder="MySQL DB User">
                </div>
                <div class="form-group col col-sm-6">
                  <label for="mysqlPassword" class="col-form-label-sm">MySQL DB Password</label>
                  <input type="password" formControlName="mysqlPassword" name="mysqlPassword"
                    class="form-control form-control-sm" placeholder="MySQL DB Password">
                </div>
                <div class="form-group col col-sm-6">
                  <label for="" class="col-form-label-sm">&nbsp;&nbsp;</label><br>
                  <button (click)="checkMysqlConnection()" class="btn btn-dark btn-sm" type="button">Check MySQL
                    Connection</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>


        <div class="card text-bg-light">
          <div class="card-body">
            <h5 class="card-title">Instruments Configuration</h5>
            <button (click)="addInstrument()" class="btn btn-success">Add Instrument</button> <!-- Add button -->
            <div formArrayName="instrumentsSettings">
              <div *ngFor="let instrument of instrumentsSettings.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row">

                    <div class="form-group col col-sm-6">
                      <label for="interfaceConnectionMode" class="col-form-label-sm">Make Interface Tool as a</label>
                      <select formControlName="interfaceConnectionMode" class="form-control form-control-sm" required
                        (change)="onConnectionModeChange(i, $event)">
                        <option value="tcpclient">Client (TCP/IP)</option>
                        <option value="tcpserver">Server (TCP/IP)</option>
                      </select>
                    </div>

                    <div class="form-group col col-sm-6">
                      <label for="analyzerMachineType" class="col-form-label-sm">Analyzer/Machine Type</label>
                      <select formControlName="analyzerMachineType" class="form-control form-control-sm" required>
                        <optgroup label="Roche">
                          <option value="roche-cobas-taqman">Roche Cobas Taqman</option>
                          <option value="roche-cobas-4800">Roche Cobas 4800</option>
                          <option value="roche-cobas-5800">Roche Cobas 5800</option>
                          <option value="roche-cobas-6800">Roche Cobas 6800/8800</option>
                        </optgroup>
                        <optgroup label="Abbott">
                          <option value="abbott-m2000">Abbott m2000</option>
                          <option value="abbott-alinity-m">Abbott Alinity M</option>
                        </optgroup>
                        <optgroup label="Cepheid">
                          <option value="cepheid-genexpert">Cepheid GeneXpert</option>
                        </optgroup>
                        <optgroup label="Other">
                          <option value="other-astm-nonchecksum">Other ASTM (without checksum)</option>
                          <option value="other-astm-checksum">Other ASTM (with checksum)</option>
                          <option value="other-hl7">Other HL7</option>
                        </optgroup>
                      </select>
                    </div>

                    <div class="form-group col col-sm-6">
                      <label for="interfaceCommunicationProtocol" class="col-form-label-sm">Interface Communication
                        Protocol</label>
                      <select formControlName="interfaceCommunicationProtocol" class="form-control form-control-sm"
                        required>
                        <option value="astm-nonchecksum">ASTM (without checksum)</option>
                        <option value="astm-checksum">ASTM (with checksum)</option>
                        <option value="hl7">HL7</option>
                      </select>
                    </div>

                    <div class="form-group col col-sm-6">
                      <label for="analyzerMachineName" class="col-form-label-sm">Instrument Name/Code assigned by
                        Testing Lab (Should match in LIS)</label>
                      <input type="text" formControlName="analyzerMachineName" class="form-control form-control-sm"
                        placeholder="eg. Roche Cobas48" required />
                      <div *ngIf="instrument.get('analyzerMachineName').hasError('duplicateInstrumentName')"
                        class="error-text">Duplicate
                        instrument names are not allowed.</div>
                    </div>

                    <div class="form-group col col-sm-6"
                      *ngIf="instrument.get('interfaceConnectionMode').value === 'tcpserver'">
                      <label>Server IP Address</label>
                      <select formControlName="analyzerMachineHost" class="form-control form-control-sm">
                        <option *ngFor="let ip of machineIps" [value]="ip">{{ip}}</option>
                      </select>
                    </div>
                    <div class="form-group col col-sm-6"
                      *ngIf="instrument.get('interfaceConnectionMode').value !== 'tcpserver'">
                      <label>Server IP Address</label>
                      <input type="text" formControlName="analyzerMachineHost" class="form-control form-control-sm">
                    </div>

                    <div class="form-group col col-sm-6">
                      <label for="analyzerMachinePort" class="col-form-label-sm">Server Port number</label>
                      <input type="text" formControlName="analyzerMachinePort" class="form-control form-control-sm"
                        placeholder="eg. 3120" required />
                      <div *ngIf="instrument.hasError('duplicateIpPort')" class="error-text">Duplicate IP Port
                        combinations are not
                        allowed.</div>
                    </div>

                    <div class="form-group col col-sm-6">
                      <label for="displayorder" class="col-form-label-sm">Display Order</label>
                      <input type="number" formControlName="displayorder" class="form-control form-control-sm"
                         />
                    </div>


                  </div>
                </div>
                <br>
                <div style="display: flex; justify-content: flex-end;">
                  <!-- <button (click)="confirmRemoval(i, instrument.get('analyzerMachineName').value, $event)"
                    class="btn btn-danger" [attr.disabled]="i === 0 ? true : null">
                    Remove Instrument
                  </button> -->
                  <button (click)="confirmRemoval(i, instrument.get('analyzerMachineName').value, $event)"
                    class="btn btn-danger">
                    Remove Instrument
                  </button>

                  <!-- Remove button -->
                </div>
                <!-- Remove button -->
                <hr *ngIf="i < instrumentsSettings.controls.length - 1">
              </div>
            </div>
          </div>
        </div>


        <br>






        <button class="btn btn-primary" type="submit" [disabled]="settingsForm.invalid">Save Settings</button>
        &nbsp;
        <button routerLink="/console" class="btn btn-danger" type="button">
          <span>Back without saving</span>
        </button>
      </form>


    </div>
  </div>
  <small class="float-end" *ngIf="appVersion">v{{appVersion}}</small>

</main>
