<!-- Begin page content -->
<main role="main" class="container">
  <br>
  <br>
  <br>
  <br>

  <div class="card">
    <div class="card-body">

      <div *ngIf="isConnected; else notConnected">
        <h5 class="card-title text-success">VL Machine Connected.</h5>
        <!-- <p class="card-text">Disconnect to modify settings.</p> -->
        <button (click)="close()" class="btn btn-danger">
          <span>Disconnect</span>
        </button>
      </div>


      <ng-template #notConnected>
        <h5 class="card-title text-danger">VL Machine Not Connected. </h5>
        <p class="card-text">Please try to reconnect and wait for a few moments.</p>
        <button (click)="reconnect()" class="btn btn-success" [disabled]="connectionInProcess">
          <span>{{reconnectButtonText}}</span>
        </button>
        &nbsp;&nbsp;
        <button *ngIf="connectionInProcess" (click)="close()" class="btn btn-danger">
          <span>Cancel</span>
        </button>   
        &nbsp;&nbsp;     
        <button *ngIf="!connectionInProcess" routerLink="/settings" class="btn btn-primary">
          <span>Settings</span>
        </button>
      </ng-template>


    </div>
  </div>


  <br>
  <br>
  <br>
  <br>






</main>