<!-- src/app/components/dashboard/dashboard.component.html -->
<div class="app-container">
  <!-- Instrument status bar -->
    <div class="instrument-status-bar">
      <div class="instrument-status" *ngFor="let instrument of availableInstruments">
        <!-- Status indicator dot -->
        <div class="status-indicator"
          [ngClass]="{'connected': instrument.isConnected, 'disconnected': !instrument.isConnected}"></div>

        <!-- Instrument ID -->
        <span class="instrument-id">{{ instrument.connectionParams.instrumentId }}</span>

        <!-- Status text from the service -->
        <span class="status-text"
          [ngClass]="{'connected-text': instrument.isConnected, 'disconnected-text': !instrument.isConnected}">
          {{ instrument.statusText }}
        </span>
      </div>
    </div>
  <div class="card">


    <div style="display: flex; justify-content: flex-end; margin-right: 2%;">
      <button (click)="click()" routerLink="/console" class="btn btn-primary">
        <i class="fa fa-dashboard"></i>
        <span>Back to Console</span>
      </button>
    </div>

    <label for="instrumentSelect" style="font-weight: bold;">SELECT INSTRUMENT</label><br>
    <select id="instrumentSelect" [(ngModel)]="selectedInstrument" (change)="filterByInstrument()" class="form-control">
      <option value="">All Instruments</option>
      <option *ngFor="let instrument of instruments" [value]="instrument">
        {{ instrument }}
      </option>
    </select>

    <div class="card-container">
      <div class="cards">
        <div class="card-headers">
          <h2>RESULTS RECEIVED</h2>
          <h6 *ngIf="selectedInstrument;" style="font-size: 12px; text-align: center;">({{ selectedInstrument }})</h6>
        </div>
        <div class="cards-body">
          <h2>{{ totalResults }}</h2>
        </div>
      </div>

      <div class="cards">
        <div class="card-headers-sync">
          <h2>RESULTS SYNCED TO LIS</h2>
          <h6 *ngIf="selectedInstrument;" style="font-size: 12px; text-align: center;">({{ selectedInstrument }})</h6>
        </div>
        <div class="cards-body">
          <h2>{{ syncedResults }}</h2>
        </div>
      </div>

      <div class="cards">
        <div class="card-header-notsync">
          <h2>RESULTS NOT YET SYNCED TO LIS</h2>
          <h6 *ngIf="selectedInstrument;" style="font-size: 12px; text-align: center;">({{ selectedInstrument }})</h6>
        </div>
        <div class="cards-body">
          <h2>{{ notYetSyncedResults }}</h2>
        </div>
      </div>

      <div class="cards">
        <div class="card-header-failed">
          <h2>RESULTS FAILED TO SYNC TO LIS</h2>
          <h6 *ngIf="selectedInstrument;" style="font-size: 12px; text-align: center;">({{ selectedInstrument }})</h6>
        </div>
        <div class="cards-body">
          <h2>{{ failedtosync }}</h2>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="cards">
        <div class="card-headers">
          <h2>Last LIS Sync On</h2>
          <h6 *ngIf="selectedInstrument;" style="font-size: 12px; text-align: center;">({{ selectedInstrument }})</h6>
        </div>
        <div class="cards-body">
          <h2>{{ latestResult?.lims_sync_date_time }}</h2>
        </div>
      </div>

      <div class="cards">
        <div class="card-headers">
          <h2>Last Instrument Result Received On</h2>
          <h6 *ngIf="selectedInstrument;" style="font-size: 12px; text-align: center;">({{ selectedInstrument }})</h6>
        </div>
        <div class="cards-body">
          <h2>{{ latestResult?.added_on }}</h2>
        </div>
      </div>
    </div>

    <label style="font-weight: bold; margin-left: 2%;">APP USAGE</label>
    <div *ngFor="let session of sessionDatasArray">
      <div class="card-containers-tool">
        <div class="cards-tool">
          <div class="card-headers-sync">
            <h2>Start Time</h2>
          </div>
          <div class="cards-body">
            <p style="text-align: center;">{{ session.startTime }}</p>
          </div>
        </div>

        <div class="cards-tool">
          <div class="card-header-failed">
            <h2>End Time</h2>
          </div>
          <div class="cards-body">
            <p style="text-align: center;">{{ session.endTime }}</p>
          </div>
        </div>
      </div>
    </div>

    <label style="font-weight: bold; margin-left: 2%;">INSTRUMENT CONNECTIVITY</label>
    <div *ngFor="let sessions of filteredSessionDatasArray">
      <div class="card-containers-tool">
        <div class="cards-tool">
          <div class="card-headers-sync">
            <h2>Start Time<br>({{ sessions.mode }})</h2>
          </div>
          <div class="cards-body-tool">
            <p style="text-align: center;">{{ sessions.startTime }}</p>
          </div>
        </div>
        <div class="cards-tool">
          <div class="card-header-failed">
            <h2>End Time<br>({{ sessions.mode }})</h2>
          </div>
          <div class="cards-body-tool">
            <p style="text-align: center;">{{ sessions.endTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
