<div class="container">
  <form class="form-signin"  (submit)="doLogin()">
    <h1 class="h3 mb-3 font-weight-normal">VLSM Interfacing</h1>
    <label for="inputEmail" class="sr-only">Login ID</label>
    <input type="email" [(ngModel)]="user.login" name="inputEmail" class="form-control" placeholder="VLSM Interfacing Login ID" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"  [(ngModel)]="user.password" name="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; VLSM</p>
  </form>
</div>
