@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  position: relative;
  margin-bottom: 60px;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid rgba(255, 122, 122, 0.748);
}

input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
  box-shadow: none;
}

.footer {
  position: fixed;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}


.dashtable th {
  text-align: center;
}

.dashtable .center {
  text-align: center;
}

.dashtable th,
td {
  vertical-align: middle;
}

.error-text {
  color: red;
}
