<main class="form-signin">
  <form  (submit)="doLogin()">

    <h1 class="h3 mb-3 fw-normal"><img src="../../assets/icons/favicon.png" alt="logo"/> Instrument Interfacing Tool</h1>

    <div class="form-floating">
      <input type="text" [(ngModel)]="user.login" class="form-control" name="login" placeholder="Login ID">
      <label for="login">Login ID</label>
    </div>
    <div class="form-floating">
      <input type="password"  [(ngModel)]="user.password" class="form-control" name="password" placeholder="Login Password">
      <label for="password">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; VLSM {{version}}</p>
  </form>
</main>
